body{
    margin: 0;
    padding: 0;
    background: #EC99C2;
}
.name{
    width: 100%;
    height: 300px;
    background: #D56AA0;
    transform: skewY(-5deg);
}
.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.name .content .p-1{
    color: #FEFFFE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom:0 ;
}
.name .content .p-2{
    color: #FEFFFE;
    font-family: Georgia, 'Times New Roman', Times, serif,sans-serif;
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
}
.name .img{
    position: absolute;
    top: 28%;
    right: 5%;
    width: 310px;
    height: 400px;
    transform: skewY(5deg);
    overflow: hidden;
}
.name .img img{
    width: 300px;
    height: 500px;
}
.info {
    width: 90%;
    height: auto;
    background: #D56AA0;
    margin:5% auto ;
    padding: 20px;
    border-radius:20px ;
}
.info .tituloSeccion {
    color: #FEFFFE;
    font-family: Georgia, 'Times New Roman', Times, serif ,sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #FEFFFE  dashed;

}
.info .tituloInfo{
    color: #FEFFFE;
    font-family: Georgia, 'Times New Roman', Times, serif,sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;

}

.info .infoInfo{
    color: #0D1821;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;

}
